<h1>{{method}} Request Received</h1>

{{#if data}}
<table>
  <thead>
    <tr>
      <th>Query Param</th>
      <th>Query Value</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.value}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{/if}}

{{#if received}}
<table>
  <thead>
    <tr>
      <th>Body Param</th>
      <th>Body Value</th>
    </tr>
  </thead>
  <tbody>
    {{#each received}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.value}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{/if}}